/**
 * The following styles get applied both on the front of your site
 * and in the block editor.
 */
.new-star-rating {
    display: flex;
    gap: 1.8em;
    justify-content: center;

    .number {
        display: flex;
        align-items: center;
        background-color: var(--wp--preset--color--contrast);
        color: var(--wp--preset--color--base);
        font-weight: bold;
        padding: 0 1em;
        border-radius: 0.5em;
    }

    .rating {
        display: flex;
        flex-direction: column;
        gap: 0.15em;
        text-decoration: none;
    
        .first-line,
        .sec-line,
        .first-line .stars {
            display: flex;
            justify-content: center;
        }
    
        .first-line { gap: .5em; }
        .sec-line { font-size: 14px; font-weight: 600; }
    }
    
    .avatars {
        display: flex;
        
        img {
            border: 4px solid var(--wp--preset--color--base);
            border-radius: 28px;
            margin-left: -12px;
            cursor: pointer;
            position: relative;
            transition: transform 0.2s ease-in-out;            

            &:hover {
                transform: scale(1.26087);
                filter: sepia(50%) hue-rotate(220deg) saturate(200%);
                z-index: 10 !important;
            }
        }
    }
}
